body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(186, 186, 248) , rgb(171, 241, 171));
   background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 60%;
}
div{
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
img {
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px;

}

@media screen and (max-width: 500px )
{
    img{
        border-radius: 15px;
        margin-top: 30%;
        
    }
    body{
        background-repeat:repeat-y;

    };

}